@model Item
<div class="container">
  <div class="row">
    <div class="col-sm">
      <div class="card" style="width: 18rem;">
          <h5 class="card-title">@Model.Name</h5>
              <img class="card-img-top" src="data:image;base64,@Model.Image" height="300" alt="Card image cap">    
      </div>
      <div class="card" style="width: 18rem;">                   
           <h5>Price: @Model.Price</h5>
        </div>
    </div>
    <div class="col-sm-6">
        <div class="card">
          <h3 class="card-title">Description</h3>
            <h5>@Model.Description.Replace('?','-')</h5>
        </div>
    </div>
  </div>  
</div>

    

    

    