@model List<Champ>
}
@foreach (var item in Model)
{
<div class="col">
     <div class="card" style="width: 18rem;">
        <img class="card-img-top" src="data:image;base64,@item.Image" height="300" alt="Card image cap">
          <div class="card-body">
              <h5 class="card-title">@item.Name</h5>               
                  <a asp-action="Description" asp-route-product="@item.Id" class="btn btn-primary">Overwiev</a>
          </div>
     </div>
 </div>    
}

