@using Microsoft.AspNetCore.Identity
@inject SignInManager<IdentityUser> SignInManager
@inject UserManager<IdentityUser> UserManager

<ul class="navbar-nav">
    @if (SignInManager.IsSignedIn(User))
    {       
             <li class="nav-item">
                        <a class="nav-link text-dark" asp-area="" asp-controller="UserBuild" asp-action="UserBuild" >My builds</a>
             </li>
            <li class="nav-item">
                <a class="nav-link text-dark">Hello @User.Identity?.Name!</a>
            </li>
            <li class="nav-item">                
                             <a class="nav-link text-dark" asp-area="" asp-controller="Account" asp-action="LogOut">Sign Out</a>              
            </li>
    }
    else
    {
            <li class="nav-item">
                    <a class="nav-link text-dark" asp-area="" asp-controller="Account" asp-action="Register">Sign Up</a>
            </li>
            <li class="nav-item">
                    <a class="nav-link text-dark" asp-area="" asp-controller="Account" asp-action="Login" >Sign In</a>
            </li>
    }
</ul>