@using DAL.ViewModels
@model RegisterViewModel
<div class="container">
  <div class="row">
      <div class="col-md">
      </div>
      <div class="col-md-auto">
          <div class="card" style="width: 35rem;">
              <h5 class="card-title text-center">Registration</h5>
          <form method="post" asp-controller="Account" asp-action="Register">
    <div asp-validation-summary="ModelOnly"></div>
    <div>
        <label asp-for="Email"></label><br />
        <input class="text-center" asp-for="Email"/>
        <span asp-validation-for="Email"></span>
    </div>    
    <div>
        <label asp-for="Password"></label><br />
        <input asp-for="Password" />
        <span asp-validation-for="Password"></span>
    </div>
    <div>
        <label asp-for="PasswordConfirm"></label><br />
        <input asp-for="PasswordConfirm" />
        <span asp-validation-for="PasswordConfirm"></span>
    </div>
    <div>
        <input type="submit" value="Registration" />
    </div>
</form>
        </div>
      </div>
      <div class="col-md">
      </div>
  </div>
</div>
